.selection {
  width: 448px;
  height: 66px;
  left: 50px;
  top: 50px;
  font-family: 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  text-align: justify;
  color: #000000;
}